# Data Import, Cleaning, and Preparation

This module is used to query the postgreSQL database in order to retrieve the Yelp and Violations dataset. There will be several steps to do this:
* Import flattened violations dataset. We will use a SQL query to perform aggregation of violation data by restaurant and inspeciton date. 
* Aggregate the Yelp Data
    * Reviews for a given establishment will be aggregated so that reviews *after* the previous inspection (or the earliest review date) and *before* the date of a given inspection are in one batch. 
    * Aggregate "count" features using this same logic
    * Combine the review document for a restaurant into a CLOB using the same logic
* LEFT JOIN the violations dataset to the Yelp data after aggregationis complete for both datasets

In [7]:
#set up connection to our DB
import psycopg2 as psy
import pandas as pd
conn = psy.connect(database="sterndsyelp", 
                        user="mvsternds", 
                        password="nyustern123!", 
                        host="sterndsyelp.cawzspvmqd5q.us-east-1.rds.amazonaws.com", 
                        port="5432"
                       )
#open cursor and check our tables in the DB
cur = conn.cursor()
cur.execute("SELECT table_name FROM information_schema.tables"
            " WHERE table_schema='public'" 
            " AND table_type='BASE TABLE'")
rows =cur.fetchall()
print(pd.DataFrame(rows))

                       0
0               business
1                checkin
2             trnt_insps
3  violations_pittsburgh
4                   tips
5                reviews

This code wil return a dataframe of the Toronto inspections data

In [10]:
cur.execute("SELECT * FROM public.trnt_inspn_agg LIMIT 500")
rows =cur.fetchall()
rows = pd.DataFrame(rows)
rows

,0,1,2,3,4,5,6,7,8
0,10348267,OLLIFFE,1097 YONGE ST,11/30/15,2,0,0,0,0
1,10378852,CORNED BEEF HOUSE,270 ADELAIDE ST W,5/13/15,1,0,0,0,0
2,10377653,BLOOR STREET MARKET,55 BLOOR ST W,1/30/17,1,2,0,0,2
3,10414022,BIRYANI KING,680 REXDALE BLVD,11/17/15,0,0,0,0,0
4,9013311,SAIGON FLOWER RESTAURANT,1138 QUEEN ST W,7/15/15,0,0,0,0,0
5,10567405,NANDO'S QUEEN ST.,739 QUEEN ST W,1/26/17,0,2,0,0,2
6,10277414,THE BIG GUY'S LITTLE COFFEE SHOP,2861 LAKE SHORE BLVD W,5/19/15,0,0,0,0,0
7,10218156,DIAN CHILDCARE CENTRE,283 PHARMACY AVE,7/10/15,0,0,0,0,0
8,10472630,Kairali,1210 KENNEDY RD,8/11/15,2,6,2,0,8
9,10501674,YORK MILLS COLLEGIATE CAFETERIA,490 YORK MILLS RD,12/5/16,0,2,1,0,3
10,10425656,YONGE SUSHI JAPANESE RESTAURANT,3421 YONGE ST,9/8/16,1,0,0,0,0
11,9016612,TORYORK CATERING LTD.,230 MILVAN DR,6/8/15,0,0,0,0,0
12,10412990,LOBLAWS,585 QUEEN ST W,12/9/16,1,0,0,0,0
13,9337628,BRICK STREET BAKERY,55 MILL ST,12/29/16,2,0,0,0,0
14,10485558,Cafe National,2 ROSEMOUNT AVE,12/21/16,0,0,0,0,0
15,10297817,ONE STOP VARIETY,2788 DUNDAS ST W,10/18/16,1,0,0,0,0
16,10453195,SAN FRANCESCO FOODS,10 CLINTON ST,3/13/17,1,0,0,0,0
17,10531115,WENDY'S,475 YONGE ST,12/23/15,0,0,0,0,0
18,10402691,STARBUCKS COFFEE,3671 BATHURST ST,6/8/15,0,0,0,0,0
19,10410353,SOBEYS,777 BAY ST,4/14/16,3,1,0,0,1
20,10401064,SHOPPERS DRUG MART,1530 ALBION RD,1/20/17,0,0,0,0,0
21,10560045,THE GILES SCHOOL,80 SCARSDALE RD,10/18/16,0,0,0,0,0
22,10556388,Sweet Pea,633 SILVER STAR BLVD,11/29/16,0,0,0,0,0
23,10558856,MAX MINI MART,2286 ISLINGTON AVE,3/23/16,0,0,0,0,0
24,10591442,RAMEN RAIJIN,24 WELLESLEY ST W,4/4/17,0,0,0,0,0
25,10308169,BROADVIEW ESPRESSO,817 BROADVIEW AVE,9/27/16,0,0,0,0,0
26,9007308,IDA MILK & VARIETY,2988 DUFFERIN ST,4/13/16,0,0,0,0,0
27,10507623,SATURDAY DINETTE,807 GERRARD ST E,3/23/17,2,0,0,0,0
28,10504878,682 Warden Avenue Community Kitchen,682 WARDEN AVE,6/21/16,1,0,0,0,0
29,10433652,STACK,3265 YONGE ST,5/11/16,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...
470,9024365,CARIBBEAN HEAT FAMILY RESTAURANT,1300 FINCH AVE W,7/11/16,3,0,0,0,0
471,10559416,JULES CAFE,120 PETER ST,4/5/16,0,0,0,0,0
472,10525017,Subhan Pizza & Chicken,2970 DANFORTH AVE,10/28/16,0,0,0,0,0
473,10368869,S CAFE,367 DONLANDS AVE,2/17/16,0,0,0,0,0
474,10410374,CHRISTE FOOD,52 CARRIER DR,3/2/16,0,0,0,0,0
475,9029544,CAROUSEL CHILDCARE DEVELOPMENT CENTRE,623 FINCH AVE W,6/30/16,0,0,0,0,0
476,10573993,BREAKFAST ROOM,384 ROYAL YORK RD,9/7/16,0,0,0,0,0
477,9032476,SWISS CHALET ROTISSERIE & GRILL,590 KEELE ST,10/29/15,0,0,0,0,0
478,9010278,MISTURA,265 DAVENPORT RD,8/24/16,0,0,0,0,0
479,9000487,AL KARAM SWEETS,3001 MARKHAM RD,6/21/16,1,3,0,0,3
480,10340445,S MARKET,1269 COLLEGE ST,1/25/17,2,1,0,1,1
481,10304406,IT'Z A WRAP,129 JEFFERSON AVE,11/23/15,0,0,0,0,0
482,9005623,FORTINO'S,700 LAWRENCE AVE W,12/19/16,0,1,0,0,1
483,10322239,BIER MARKT,600 KING ST W,8/4/16,0,0,0,0,0
484,9001404,ROYAL YORK/BENIHANA,100 FRONT ST W,11/16/15,0,0,0,0,0
485,10543491,BAKER'S DOZEN,2324 LAKE SHORE BLVD W,7/31/15,1,0,0,1,0
486,10511532,FAST FRESH FOOD & SOUTHWEST GRILL,674 BAY ST,9/15/15,0,0,0,0,0
487,10302558,LEDBURY PARK CHILDCARE,95 FALKIRK ST,10/17/16,0,0,0,0,0
488,10517042,MAISONETTE,12 TANK HOUSE LANE,6/25/15,0,0,0,1,0
489,10528579,KATHMANDU RESTAURANT,12 CUMBERLAND ST,4/28/16,0,0,0,0,0
490,10437641,Fresh Halal Pizza,2267 ISLINGTON AVE,8/31/15,1,0,0,0,0
491,10394104,THE BAR WITH NO NAME,1651 BLOOR ST W,12/8/16,1,0,0,0,0
492,10361566,CUSINA LOUNGE,288 WILSON AVE,10/15/16,1,3,0,0,3
493,10529484,PURE PIZZA AND BURGERS,314 PARLIAMENT ST,12/2/16,1,0,0,0,0
494,10520950,JIU JIU DUCK,222 SPADINA AVE,3/24/16,1,1,0,0,1
495,9015507,THE ARTFUL DODGER,10 ISABELLA ST,3/28/17,1,2,0,0,2
496,10344741,CHURRASQUEIRA MARTINS GRILL HOUSE,605 ROGERS RD,9/14/15,2,0,0,0,0
497,10391580,MOLSON CAFE,1 CARLINGVIEW DR,6/25/15,0,0,0,0,0
498,10370052,MUSIC GARDEN CAFE,460 QUEENS QUAY W,6/14/16,1,0,0,0,0
499,10513148,Manna Takeout Catering & Bakery,1901 ELLESMERE RD,4/25/16,0,0,0,0,0